<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout/topo :: cima('Listar Tarefa')}"/>
<header th:replace="~{layout/menu :: opcoes}"/>

<body id="espaco">
<table class="table table-striped">
    <thead>
    <tr class="table-dark">
        <th>Id</th>
        <th>Descrição</th>
        <th>Inicio</th>
        <th>Prazo</th>
        <th>#</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="tarefa : ${tarefas}">
        <td th:text="${tarefa.id}"></td>
        <td th:text="${tarefa.descricao}"></td>
        <td th:text="${{tarefa.dataInicial}}"></td>
        <td th:text="${{tarefa.prazo}}"></td>
        <td>
            <form th:action="'/tarefa/' +${tarefa.id}" method="get">
                <input type="submit" value="alterar" class="btn btn-warning"/>
            </form>
            <form th:action="'/tarefa/excluir'" method="post">
                <input type="hidden" name="_method" value="delete">
                <input type="hidden" name="id" th:value="${tarefa.id}">
                <input type="submit" value="excluir" class="btn btn-danger"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>