<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
</head>

<body>

<h1 th:text="${cadastro}"></h1>

<form action="/tarefa" method="post" th:objetc="${tarefa}">
    <input type="hidden" name="id" th:value="${tarefa ==null} ? null : ${tarefa.id} ">
    <label>Insira uma descrição</label>
    <input type="text" name="descricao" placeholder="digite uma descrição"
           th:value="${tarefa ==null} ? null : ${tarefa.descricao}"/></br>

    <label>Insira um prazo</label>
    <input type="date" name="prazo"
           th:value="${tarefa ==null} ? null : ${tarefa.prazo}"></br>
    <input type="submit" value="cadastrar"/>
</form>

</body>
</html>