<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Listagem de Tarefas</title>
</head>

<body>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Descrição</th>
        <th>Prazo</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="tarefa : ${tarefas}">
        <td th:text="${tarefa.id}"></td>
        <td th:text="${tarefa.descricao}"></td>
        <td th:text="${tarefa.prazo}"></td>
        <td>
            <a th:href="'/tarefa/' +${tarefa.id}"> editar</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>