<p-sidebar [(visible)]="visibleSidebar1" position="right">
  <div>
    <ul>
      <a [routerLink]="['/']">
        <li>Home</li>
      </a>
      <a [routerLink]="['/lancamentos']">
        <li>Lançamentos</li>
      </a>
      <a [routerLink]="['/cadastro-de-lancamentos']">
        <li>Cadastro de lançamentos</li>
      </a>
      <a [routerLink]="['/usuario']">
        <li>Listagem de usuario</li>
      </a>
      <a [routerLink]="['/cadastro-de-usuario']" *ngIf="validaPermissao('ROLE_ADMIN')">
        <li>Cadastro de usuario</li>
      </a>
      <a [routerLink]="['/login']" (click)="logout()">
        <li>Sair</li>
      </a>
    </ul>
  </div>
</p-sidebar>

<p-button type="text" (click)="visibleSidebar1 = true" icon="pi pi-fw pi-home" label="Home"></p-button>
