<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layout/topo :: cima('Cadastar Usuario')}"/>
<header th:replace="~{layout/menu :: opcoes}"/>
<body id="espaco">
<form th:action="'/usuario'" method="post" th:objetc="${usuario}">
    <input type="hidden" name="id" th:value="${usuario ==null} ? null : ${usuario.id} ">
    <div class="mb-3">
        <label class="form-label">Nome</label>
        <input type="text" class="form-control"
               name="nome" th:value="*{usuario ==null} ? null : ${usuario.nome}"
               placeholder="insira seu nome completo">
        <ul class="error">
            <li th:each="err : ${#fields.errors('usuario.nome')}" th:text="${err}"/>
        </ul>
    </div>
    <div class="mb-3">
        <label class="form-label">CPF</label>
        <input type="text" class="form-control"
               name="cpf" th:value="*{usuario ==null} ? null : ${usuario.cpf}"
               placeholder="12332114589">
        <ul class="error">
            <li th:each="err : ${#fields.errors('usuario.cpf')}" th:text="${err}"/>
        </ul>
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control"
               name="email" th:value="*{usuario ==null} ? null : ${usuario.email}"
               placeholder="fulano.de.tal@email.com.br">
        <ul class="error">
            <li th:each="err : ${#fields.errors('usuario.email')}" th:text="${err}"/>
        </ul>
    </div>
    <div class="mb-3">
        <label class="form-label">Senha</label>
        <input type="password" class="form-control"
               name="senha" th:value="*{usuario ==null} ? null : ${usuario.senha}"
               placeholder="insira uma senha">
        <ul class="error">
            <li th:each="err : ${#fields.errors('usuario.senha')}" th:text="${err}"/>
        </ul>
    </div>
    <button type="submit" class="btn btn-secondary">cadastrar</button>
</form>

<br>
<div sec:authorize="hasRole('OUTROS')">Visivel se ele for um usuario</div>
<div sec:authorize="hasRole('ADMIN')">Visivel se ele for um Adminitrador</div>
<div sec:authorize="hasAnyRole('ADMIN','USER')">Visivel os dois perfis user e admin</div>
<div sec:authorize="isAuthenticated()">
    Text visible only to authenticated users.
</div>
Authenticated username:
<div sec:authentication="name"></div>
Authenticated user roles:
<!--<div sec:authentication="principal.authorities"></div>-->
</body>
</html>