<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout/topo :: cima('Listar Usuario')}"/>
<header th:replace="~{layout/menu :: opcoes}"/>

<body id="espaco">
<table class="table table-striped">
    <thead>
    <tr class="table-dark">
        <th>Id</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Cpf</th>
        <th>Senha</th>
        <th>#</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="usuario : ${usuarios}">
        <td th:text="${usuario.id}"></td>
        <td th:text="${usuario.nome}"></td>
        <td th:text="${usuario.email}"></td>
        <td th:text="${usuario.cpf}"></td>
        <td th:text="${usuario.senha}"></td>
        <td sec:authorize="hasRole('ADMIN')">
            <form th:action="'/usuario/' +${usuario.id}" method="get">
                <input type="submit" value="alterar" class="btn btn-warning"/>
            </form>
        </td>
        <td sec:authorize="hasRole('ADMIN')">
            <form th:action="'/usuario/excluir'" method="post">
                <input type="hidden" name="_method" value="delete">
                <input type="hidden" name="id" th:value="${usuario.id}">
                <input type="submit" value="excluir" class="btn btn-danger"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>