<h1>Cadastro de Receitas</h1>



<form #formulario="ngForm" (ngSubmit)="salvar(formulario)">


  <p-selectButton [options]="tiposDespesa" name="tipo" ngModel required ></p-selectButton><br><br>

  <span class="p-float-label">
    <input id="float-input" type="text" pInputText  name="local" ngModel required>
    <label for="float-input">Local</label>
  </span><br><br>

  <span class="p-float-label">
    <input id="float-input" type="text" pInputText  name="descricao" ngModel required>
    <label for="float-input">Descricao</label>
  </span><br>


  <label for="">Data da Compra</label>
  <p-calendar type="date" name="dataDaCompra" dateFormat="dd/mm/yy" ngModel [showIcon]="true"></p-calendar><br><br>

  <label for="">Data de Vencimento</label>
  <p-calendar type="date" name="dataDeVencimento" dateFormat="dd/mm/yy" ngModel [showIcon]="true"></p-calendar><br><br>


  <label for="">valor</label>
  <p-inputNumber name="valor" [(ngModel)]="valor" ngModel mode="currency" currency="BRL" locale="pt-BR" [minFractionDigits]="2"></p-inputNumber>

  <br>
  <br>

  <button>Salvar</button>

</form>
<br>
<br>

<pre>
{{lista | json}}
</pre>
