<br>

<form #formulario="ngForm"  class="layout">
<div class="grid">


  <input class="col-9" type="text" pInputText name="nome" ngModel required minlength="5"  placeholder="nome..." />

  <input class="col-9" type="email" pInputText name="email"  ngModel required email placeholder="email..." />

  <input class="col-9" type="password" pInputText name="senha" ngModel required minlength="4" placeholder="senha..." />

  <div class="col-9">
    <button [disabled]="!formulario.valid" (click)="salvar(formulario)"  pButton type="button" label="salvar" class="col-3"
      class="p-button-secondary grid-input"></button>
  </div>

</div>
</form>


<br>
<pre>
{{usuario | json}}
</pre>

